<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {% block styles %}
        <!-- Include your CSS stylesheets here -->
    {% endblock %}
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% block content %}
        <!-- Content of the child template will go here -->
    {% endblock %}

    {% block scripts %}
        <!-- Include your JavaScript scripts here -->
    {% endblock %}
</body>
</html>